.button1 {
  background-color: #68a56a;
  color: black;
  border: 2px solid #4caf50; /* Green */
  transition-duration: 0.4s;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 3px;
}

.button1:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.button1:active {
  background-color: gray;
  transform: translateY(4px);
}

.input1 {
  margin: 3px;
  border-radius: 4px;
  margin-top: 5px;
}

.label1 {
  font-family: courier;
  font-size: 10px;
}

.cifrarLabel {
  border: 2px;
  border-radius: 4px;
  padding: 4px;
}

.login-button {
    width: 20%;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #1859c9;
    cursor: pointer
}

.login-button:hover {
  background-color: #12397c; /* Green */
  color: white;
}

.login-button:active {
  background-color: #12397c;
  transform: translateY(4px);
}

.volver {
    width: 20%;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #c91818;
    cursor: pointer
}

.volver:hover {
  background-color: #7c1212; /* Green */
  color: white;
}

.volver:active {
  background-color: #7c1212;
  transform: translateY(4px);
}

.register {
    width: 20%;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #27c918;
    cursor: pointer
}

.register:hover {
  background-color: #127c16; /* Green */
  color: white;
}

.register:active {
  background-color: #127c16;
  transform: translateY(4px);
}

